<center style="width: 300px;height: 100px;position: absolute;top:0;bottom: 0;left: 0;right: 0;margin: auto;position: absolute;">
    <p>{{message}}</p>
    <p>You may have additional details in your chat application.</p>
</center>